# IBM Data Analyst Capstone Project
by Alex Paquette

This project is completed as part of IBM's Data Analyst Professional Certificate. It demonstrates my ability to go through the entire Data Analyst process, which is listed below:

1. Data Collection
2. Data Wrangling
3. Exploratory Data Analysis
4. Data Visualization

Install required libraries using `pip`

In [349]:
%pip install --upgrade pip
%pip install pandas
%pip install numpy

Requirement already satisfied: pip in ./.venv/lib/python3.13/site-packages (26.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.13/site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in ./.venv/lib/python3.13/site-packages (2.4.2)
Note: you may need to restart the kernel to use updated packages.

Import required libraries

In [350]:
import pandas as pd
import numpy as np

# Data Collection

There are a variety of methods that we can use to collect data. We can gather data via APIs, web scraping, and file reading (excel, csv, json, etc.). For this project, we will be using a .csv file provided by Coursera. It can be obtained from the following URL:

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv

We will be using this dataset to go through the Data Analysis process, starting with data collection.

## About the Dataset

Before we go any further, it's important to understand what attributes we're working with. This will help us during the Data Wrangling stage and will inform how we handle duplicates and missing values.

The dataset in question are responses from the **Stack Overflow Developer Survey**.

### Column Description for Survey Data
| Column name | Question text |
| --- | --- |
| ResponseId | Randomized respondent ID number|
| MainBranch | Which of the following options best describes you today?|
| Age | What is your age?|
| Employment | What is your current employment status? |
| RemoteWork | How often do you work remotely? |
| Check | Check Various verification or check questions related to survey consistency |
| CodingActivities | What coding activities do you engage in? |
| EdLevel | What is the highest level of formal education you have completed? |
| LearnCode | How did you learn to code? |
| LearnCodeOnline | Have you used online resources to learn coding? |
| TechDoc | How do you use technical documentation? |
| YearsCode | How many years have you been coding? |
| DevType | What is your role or type of development you do? |
| OrgSize | What is the size of the organization you work for? |
| PurchaseInfluence | How much influence do you have on purchasing technology at your company? |
| BuyNewTool | How does your company decide whether to buy new tools or technology? |
| BuildvsBuy | Does your company prefer to build or buy software? |
| TechEndorse | Do you endorse any specific technologies at your company? |
| Country | In which country do you reside? |
| Currency | Which currency do you use day-to-day? |
| CompTotal | What is your current total compensation? |
| LanguageHaveWorkedWith | Which programming languages have you worked with in the past year? |
| LanguageWantToWorkWith | Which programming languages do you want to work with in the future? |
| LanguageAdmired | Which programming languages do you admire most? |
| DatabaseHaveWorkedWith | Which database technologies have you worked with in the past year? |
| DatabaseWantToWorkWith | Which database technologies do you want to work with in the future? |
| DatabaseAdmired | Which database technologies do you admire most? |
| PlatformHaveWorkedWith | Which platforms have you worked with in the past year? |
| PlatformWantToWorkWith | Which platforms do you want to work with in the future? |
| PlatformAdmired | Which platforms do you admire most? |
| WebframeHaveWorkedWith | Which web frameworks have you worked with in the past year? |
| WebframeWantToWorkWith | Which web frameworks do you want to work with in the future? |
| WebframeAdmired | Which web frameworks do you admire most? |
| EmbeddedHaveWorkedWith | Which embedded systems have you worked with in the past year? |
| EmbeddedWantToWorkWith | Which embedded systems do you want to work with in the future? |
| EmbeddedAdmired | Which embedded systems do you admire most? |
| MiscTechHaveWorkedWith | Which miscellaneous technologies have you worked with in the past year? |
| MiscTechWantToWorkWith | Which miscellaneous technologies do you want to work with in the future? |
| MiscTechAdmired | Which miscellaneous technologies do you admire most? |
| SOVisitFreq | How frequently do you visit Stack Overflow? |
| SOPartFreq | How often do you participate in Q&A on Stack Overflow? |
| AISelect | How do you feel about artificial intelligence tools for development? |
| AIBen | What benefits have you experienced from using AI tools? |
| AIChallenges | What challenges have you faced while using AI tools? |
| JobSat | How satisfied are you with your current job? |

This is quite a comprehensive list of questions, and far too many for us to work with in the scope of this project. We will be selecting which attributes we want to keep for our anaysis and which we want to drop.

We will use the `pandas.read_csv()` method to read the provided CSV file and store it into a `DataFrame`

In [351]:
file_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv'
df = pd.read_csv(file_path) #read csv into a dataframe

We can use the `head()` function to see the first five records of this dataset. This gives us confidence that the data was loaded properly.

In [352]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

# Data Wrangling

This step involves cleaning and preparing the dataset to make it ready for our analysis. We will perform the following tasks:

1. Identify and remove duplicate rows.
2. Drop unecessary columns
3. Standardize our data
4. Analyze missing values
5. Normalize data for comparative analysis

## Identify and remove duplicate rows

First, let's identify how many duplicates we have in our dataset.

We'll be narrowing our search to the ResponseId, as this is the primary attribute that can help us identify duplicates, since there should only be one id per survey response.

In [353]:
# Let's identify how many duplicates we have in our dataset
dupe_count = df['ResponseId'].duplicated().sum()
print(f"Number of duplicates: {dupe_count}")

Number of duplicates: 20

This tells us there are 20 duplicates in our dataset. Now we want to remove our duplicates from our dataset. We're keeping the first instance and dropping any others that appear in our dataset by setting `keep` to `first`.

In [354]:
df.drop_duplicates(subset=['ResponseId'], keep='first', inplace=True)

We can count our duplicates again to be sure they've been removed.

In [355]:
dupe_count = df['ResponseId'].duplicated().sum()
print(f"Number of duplicates: {dupe_count}")

Number of duplicates: 0

And sure enough, we see there are no duplicates!

## Drop unecessary columns

Before we move any further, it's a good idea to properly go through each attribute and determine whether we want to keep it for analytical reasons, or drop it to simplify our dataset.

Looking at our survey questions from earlier, there are a few that stand out as being unecessary for our purposes:

### MainBranch
This attribute has the following response options:
- I am a developer by profession
- I am learning to code
- I code primarily as a hobby
- I am not primarily a developer, but I write code sometimes...
- I used to be a developer by profession, but I no long am

The information provided by this attribute can be gleamed by others, such as `Employment`, `EdLevel`, and `YearsCode` to name a few.

Here are a few other attributes we'll be dropping as they're not useful to our analysis:
- Check
- CodingActivities
- LearnCode
- LearnCodeOnline
- TechDoc
- TechEndorse
- MiscTechHaveWorkedWith
- MiscTechWantToWorkWith
- MiscTechAdmired
- SOVisitFreq
- SOPartFreq
- AISelect
- AIBen

To drop columns, we use the `.drop()` method on our dataframe and we set `axis=1` to specify we're droping columns. `axis=0` is for dropping rows.

In [356]:
drop_columns = ['MainBranch', 'Check', 'CodingActivities', 'LearnCode', 'LearnCodeOnline', 
                'TechDoc', 'TechEndorse', 'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith', 
                'MiscTechAdmired', 'SOVisitFreq', 'SOPartFreq', 'AISelect', 'AIBen']
df.drop(drop_columns, axis=1, inplace=True)

We can also see here that there are a multitude of unknown columns not mentioned. We should drop most of these since we don't have any information about what they represent. Some can be inferred and are useful, such as `ConvertedCompYearly`, which seems to represent common compensation value.

In [357]:
df.columns

Index(['ResponseId', 'Age', 'Employment', 'RemoteWork', 'EdLevel', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool',
       'BuildvsBuy', 'Country', 'Currency', 'CompTotal',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageAdmired',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 'DatabaseAdmired',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'PlatformAdmired',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'WebframeAdmired',
       'EmbeddedHaveWorkedWith', 'EmbeddedWantToWorkWith', 'EmbeddedAdmired',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'ToolsTechAdmired', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'NEWCollabToolsAdmired',
       'OpSysPersonal use', 'OpSysProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackAsyncAdmired', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'OfficeStackSyncAdmired',
       'AISearchDevHaveWorkedWith', 'AISearchDevWantToWorkWith',
       'AISearchDevAdmired', 'NEWSOSites', 'SOAccount', 'SOHow', 'SOComm',
       'AISent', 'AIAcc', 'AIComplex', 'AIToolCurrently Using',
       'AIToolInterested in Using', 'AIToolNot interested in Using',
       'AINextMuch more integrated', 'AINextNo change',
       'AINextMore integrated', 'AINextLess integrated',
       'AINextMuch less integrated', 'AIThreat', 'AIEthics', 'AIChallenges',
       'TBranch', 'ICorPM', 'WorkExp', 'Knowledge_1', 'Knowledge_2',
       'Knowledge_3', 'Knowledge_4', 'Knowledge_5', 'Knowledge_6',
       'Knowledge_7', 'Knowledge_8', 'Knowledge_9', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Frustration', 'ProfessionalTech', 'ProfessionalCloud',
       'ProfessionalQuestion', 'Industry', 'JobSatPoints_1', 'JobSatPoints_4',
       'JobSatPoints_5', 'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8',
       'JobSatPoints_9', 'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly', 'JobSat'],
      dtype='str')

In [358]:
#ToolsTechHaveWorkedWith -> SurveyEase
additional_drop_cols = df.loc[:, "ToolsTechHaveWorkedWith":'SurveyEase'].columns
df.drop(additional_drop_cols, axis=1, inplace=True)
df.drop(['YearsCodePro', 'BuyNewTool', 'Currency', 'CompTotal'], axis=1, inplace=True)

In [359]:
df.columns

Index(['ResponseId', 'Age', 'Employment', 'RemoteWork', 'EdLevel', 'YearsCode',
       'DevType', 'OrgSize', 'PurchaseInfluence', 'BuildvsBuy', 'Country',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'LanguageAdmired',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 'DatabaseAdmired',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'PlatformAdmired',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'WebframeAdmired',
       'EmbeddedHaveWorkedWith', 'EmbeddedWantToWorkWith', 'EmbeddedAdmired',
       'ConvertedCompYearly', 'JobSat'],
      dtype='str')

Now we have a more manageable set of attributes to work with.

## Standardize our Data

Before we go and handle for missing values, we want to go through our categorical attributes and standardize where necessary. First, we need to identify which columns are categorical.

In [360]:
# str data types are categorical
categorical = [var for var in df.columns if df[var].dtype=='str']
categorical

['Age',
 'Employment',
 'RemoteWork',
 'EdLevel',
 'YearsCode',
 'DevType',
 'OrgSize',
 'PurchaseInfluence',
 'BuildvsBuy',
 'Country',
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'LanguageAdmired',
 'DatabaseHaveWorkedWith',
 'DatabaseWantToWorkWith',
 'DatabaseAdmired',
 'PlatformHaveWorkedWith',
 'PlatformWantToWorkWith',
 'PlatformAdmired',
 'WebframeHaveWorkedWith',
 'WebframeWantToWorkWith',
 'WebframeAdmired',
 'EmbeddedHaveWorkedWith',
 'EmbeddedWantToWorkWith',
 'EmbeddedAdmired']

Next we want to go through each one and identify the unique values. For many, no changes will be necessary, but for some we'll want to standardize the values to either be easier to read or even condense some categories into a single one. For the purpose of this notebook I will only show the attributes that needed standardizing.

### Employment

The employment attribute has 110 unique entires. However this is deceiving, the respondents were allowed to select multiple options. This means there are fewer Employment categories than what is being returned by the `unique.()` method. We need to break this down further by string splitting our results and returning unique options again.

In [361]:
for type in df['Employment'].unique():
    print(type)

Employed, full-time
Student, full-time
Student, full-time;Not employed, but looking for work
Independent contractor, freelancer, or self-employed
Not employed, and not looking for work
Employed, full-time;Student, part-time
Employed, full-time;Independent contractor, freelancer, or self-employed
Employed, full-time;Student, full-time
Employed, part-time
Student, full-time;Employed, part-time
Student, part-time;Employed, part-time
I prefer not to say
Not employed, but looking for work
Student, part-time
Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time
Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time
Independent contractor, freelancer, or self-employed;Employed, part-time
Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time
Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed
Student, full-time;Independent contractor, freelancer, or self-employed
Employed, full-time;Employed, part-time
Not employed, but looking for work;Independent contractor, freelancer, or self-employed
Student, full-time;Not employed, and not looking for work
Retired
Independent contractor, freelancer, or self-employed;Student, part-time
Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time
Not employed, but looking for work;Student, part-time
Not employed, but looking for work;Not employed, and not looking for work
Independent contractor, freelancer, or self-employed;Retired
Not employed, but looking for work;Student, part-time;Employed, part-time
Student, full-time;Not employed, but looking for work;Not employed, and not looking for work
Employed, full-time;Not employed, but looking for work
Student, full-time;Not employed, and not looking for work;Student, part-time
Employed, full-time;Retired
Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time
Not employed, but looking for work;Employed, part-time
Employed, full-time;Student, full-time;Employed, part-time
Independent contractor, freelancer, or self-employed;Not employed, and not looking for work
Not employed, and not looking for work;Student, part-time
Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time
Student, full-time;Student, part-time
Student, full-time;Not employed, but looking for work;Student, part-time
Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired
Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work
Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed
Employed, full-time;Student, full-time;Student, part-time
Not employed, but looking for work;Retired
Employed, full-time;Student, full-time;Not employed, but looking for work
Not employed, and not looking for work;Retired
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired
Employed, full-time;Not employed, but looking for work;Employed, part-time
Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired
Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time
Student, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work
Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Employed, part-time;Retired
Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed
Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time
Student, full-time;Not employed, but looking for work;Retired
Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time
Student, part-time;Retired
Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time
Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Retired
Employed, full-time;Student, full-time;Student, part-time;Employed, part-time
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time
Student, full-time;Not employed, but looking for work;Employed, part-time
Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time
Independent contractor, freelancer, or self-employed;Student, part-time;Retired
Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time
Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired
Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work
Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time
Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time
Independent contractor, freelancer, or self-employed;Employed, part-time;Retired
Employed, full-time;Not employed, and not looking for work
Employed, full-time;Independent contractor, freelancer, or self-employed;Retired
Student, full-time;Student, part-time;Employed, part-time
Employed, part-time;Retired
Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired
Employed, full-time;Student, part-time;Employed, part-time
Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired
Student, full-time;Student, part-time;Retired
Student, full-time;Not employed, and not looking for work;Employed, part-time
Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time
Not employed, but looking for work;Not employed, and not looking for work;Student, part-time;Employed, part-time
Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time
Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time
Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Employed, part-time
Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time
Not employed, and not looking for work;Employed, part-time
Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time
Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time
Employed, full-time;Not employed, but looking for work;Not employed, and not looking for work;Employed, part-time
Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired
Not employed, but looking for work;Student, part-time;Retired
Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Retired
Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed
Not employed, but looking for work;Not employed, and not looking for work;Student, part-time
Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired
Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time;Employed, part-time
Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time
Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time
Student, full-time;Retired
Employed, full-time;Not employed, but looking for work;Student, part-time
Not employed, and not looking for work;Student, part-time;Employed, part-time
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Retired

Now that we've broken down our employment types further, we see that we can simplify them. There are multiple types of employment listed, but we only really care about these for our purposes:
- Employed
- Student
- Not employed
- Independent contractor
- I prefer not to say
- Retired

In [362]:
Employment_categories = df['Employment'].str.split(';').explode('Employment').unique()
Employment_categories

<StringArray>
[                                 'Employed, full-time',
                                   'Student, full-time',
                   'Not employed, but looking for work',
 'Independent contractor, freelancer, or self-employed',
               'Not employed, and not looking for work',
                                   'Student, part-time',
                                  'Employed, part-time',
                                  'I prefer not to say',
                                              'Retired']
Length: 9, dtype: str

At first glance this seems simple. We can strip everything after the comma in the response. However, it's more complicated than that. The respondents were allowed to select multiple options. This means that we need a way to prioritize some responses over another.

Here is the order of priority I have selected:
1. Retired
2. Student
3. Employed
4. Independent contractor
5. Not employed
6. I prefer not to say

For each entry we need to do the following:
- Split each employment type using the semicolon
- Only pull the value before the comma
- Select an entry based on order of priority.

In [363]:
def simplify_employment(response: str) -> str | None:
    if pd.isna(response): return None

    PRIORITY = ['Retired', 'Student', 'Employed', 'Independent contractor', 'Not employed', 'I prefer not to say']

    selections = set()

    # simplify entry
    for selection in response.split(';'):
        base_value = selection.split(',')[0]
        selections.add(base_value)

    for category in PRIORITY:
        if category in selections:
            return category.title()

In [364]:
df['Employment'] = df['Employment'].apply(simplify_employment)

In [365]:
df['Employment'].unique()

<StringArray>
[              'Employed',                'Student', 'Independent Contractor',
           'Not Employed',    'I Prefer Not To Say',                'Retired']
Length: 6, dtype: str

And just like that, we've simplified our Employment category!

## RemoteWork

For this attribute, we just want simplify the `Hybrid (some remote, some in-person)` entry to `Hybrid` for readability.

In [366]:
df['RemoteWork'].unique()

<StringArray>
['Remote', nan, 'In-person', 'Hybrid (some remote, some in-person)']
Length: 4, dtype: str

In [367]:
df['RemoteWork'] = df['RemoteWork'].replace('Hybrid (some remote, some in-person)', 'Hybrid')

In [368]:
df['RemoteWork'].unique()

<StringArray>
['Remote', nan, 'In-person', 'Hybrid']
Length: 4, dtype: str

## EdLevel
For this attribute, we want to simplify the entries for readability, similar to what we did for `Hybrid` with RemoteWork.

In [369]:
df['EdLevel'].unique()

<StringArray>
[                                                         'Primary/elementary school',
                                       'Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
                                    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
                             'Some college/university study without earning a degree',
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
                                     'Professional degree (JD, MD, Ph.D, Ed.D, etc.)',
                                                'Associate degree (A.A., A.S., etc.)',
                                                                     'Something else',
                                                                                  nan]
Length: 9, dtype: str

In [370]:
edu_map = {
    'Primary/elementary school': 'Elementary',
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor\'s',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Master\'s',
    'Some college/university study without earning a degree': 'Some post-secondary',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'Secondary',
    'Professional degree (JD, MD, Ph.D, Ed.D, etc.)': 'Professional degree',
    'Associate degree (A.A., A.S., etc.)': 'Associate degree'
}
df['EdLevel'] = df['EdLevel'].map(edu_map)

In [371]:
df['EdLevel'].unique()

<StringArray>
[         'Elementary',          'Bachelor's',            'Master's',
 'Some post-secondary',           'Secondary', 'Professional degree',
    'Associate degree',                   nan]
Length: 8, dtype: str

## YearsCode
For this attribute, we actually want to convert it to integer values, since all but two of these values are the actual number of years. First, we need to convert `Less than 1 year` and `More than 50 years` to a number value. We'll assign `1` to the former and `50` to the latter.

In [372]:
df['YearsCode'].unique()

<StringArray>
[                 nan,                 '20',                 '37',
                  '4',                  '9',                 '10',
                  '7',                  '1',                 '15',
                 '30',                 '31',                  '6',
                 '12',                 '22',                  '5',
                 '36',                 '25',                 '44',
                 '24',                 '18',                  '3',
                  '8', 'More than 50 years',                 '11',
                 '29',                 '40',                 '39',
                  '2',                 '42',                 '34',
                 '19',                 '35',                 '16',
                 '33',                 '13',                 '23',
                 '14',                 '28',                 '17',
                 '21',                 '43',                 '46',
                 '26',                 '32',                 '41',
                 '45',                 '27',                 '38',
                 '50',                 '48',                 '47',
   'Less than 1 year',                 '49']
Length: 53, dtype: str

In [373]:
df['YearsCode'] = df['YearsCode'].replace('More than 50 years', '50')
df['YearsCode'] = df['YearsCode'].replace('Less than 1 year', '1')

In [374]:
df['YearsCode'].unique()

<StringArray>
[ nan, '20', '37',  '4',  '9', '10',  '7',  '1', '15', '30', '31',  '6', '12',
 '22',  '5', '36', '25', '44', '24', '18',  '3',  '8', '50', '11', '29', '40',
 '39',  '2', '42', '34', '19', '35', '16', '33', '13', '23', '14', '28', '17',
 '21', '43', '46', '26', '32', '41', '45', '27', '38', '48', '47', '49']
Length: 51, dtype: str

Now that all values except nan are numbers, we want to actually convert the years into float values. Because we still have NaN values, we need to use `to_numeric()` with `coerce` error handling.

Why float instead of integer? Because later when we replace na values, we want to be able to use the mean, which will return a float.

In [375]:
df['YearsCode'] = pd.to_numeric(df['YearsCode'], errors='coerce').astype('float64')

We'll handle the `NaN` values in the next section, as we've now converted this column to a numerical category.

## DevType
This column has too many categories and needs to be streamlined somehow. Many of these categories should be folded into one to reduce the number to a manageable one.

In [376]:
df['DevType'].unique()

<StringArray>
[                                            nan,
                         'Developer, full-stack',
                          'Developer Experience',
                                       'Student',
                           'Academic researcher',
                               'Project manager',
                            'Developer Advocate',
                           'Developer, back-end',
                       'Other (please specify):',
                          'Developer, front-end',
                        'Database administrator',
 'Developer, desktop or enterprise applications',
                 'Cloud infrastructure engineer',
 'Data scientist or machine learning specialist',
                   'Research & Development role',
   'Developer, embedded applications or devices',
                          'System administrator',
                             'DevOps specialist',
                           'Engineering manager',
                                      'Designer',
                         'Security professional',
          'Senior Executive (C-Suite, VP, etc.)',
                             'Developer, mobile',
                   'Developer, game or graphics',
                      'Data or business analyst',
                                      'Educator',
                         'Developer, QA or test',
                               'Product manager',
                                 'Developer, AI',
                                     'Scientist',
                    'Engineer, site reliability',
                                    'Blockchain',
               'Marketing or sales professional',
                             'Hardware Engineer',
                                 'Data engineer']
Length: 35, dtype: str

Having scrolled through, I believe we can condense these categories into the following:
- Developer
- Student
- Researcher
- Manager
- Database administrator
- Engineer
- Data scientist
- System administrator
- DevOps
- Designer
- Security professional
- Data analyst
- Educator
- Scientist
- Blockchain
- Marketing

All the Developer types have been folded into a single type. Likewise Engineers were combined into a single type.

In [377]:
devType_map = {
    'Developer, full-stack': 'Developer',
    'Developer Experience': 'Developer',
    'Student': 'Student',
    'Academic researcher': 'Researcher',
    'Project manager': 'Manager',
    'Developer Advocate': 'Developer',
    'Developer, back-end': 'Developer',
    'Other (please specify)': np.nan,
    'Developer, front-end': 'Developer',
    'Database administrator': 'Database administrator',
    'Developer, desktop or enterprise applications': 'Developer',
    'Cloud infrastructure engineer': 'Engineer',
    'Data scientist or machine learning specialist': 'Data scientist',
    'Research & Development role': 'Researcher',
    'Developer, embedded applications or devices': 'Developer',
    'DevOps specialist': 'DevOps',
    'Engineer manager': 'Manager',
    'Designer': 'Designer',
    'Security professional': 'Security professional',
    'Senior Executive (C-Suite, VP, etc.)': 'Executive',
    'Developer, mobile': 'Developer',
    'Developer, game or graphics': 'Developer',
    'Data or business analyst': 'Data analyst',
    'Educator': 'Educator',
    'Developer, QA or test': 'Developer',
    'Product manager': 'Manager',
    'Developer, AI': 'Developer',
    'Scientist': 'Scientist',
    'Engineer, site reliability': 'Engineer',
    'Blockchain': 'Blockchain',
    'Marketing or sales professional': 'Marketing',
    'Hardware Engineer': 'Engineer',
    'Data engineer': 'Engineer'
}

df['DevType'] = df['DevType'].map(devType_map)

In [378]:
df['DevType'].unique()

<StringArray>
[                     nan,              'Developer',                'Student',
             'Researcher',                'Manager', 'Database administrator',
               'Engineer',         'Data scientist',                 'DevOps',
               'Designer',  'Security professional',              'Executive',
           'Data analyst',               'Educator',              'Scientist',
             'Blockchain',              'Marketing']
Length: 17, dtype: str

## BuildvsBuy
For this section, we juts need to rename each category to be easier to read in visualizations.

In [379]:
df['BuildvsBuy'].unique()

<StringArray>
[                                                                          nan,
      'Is ready-to-go but also customizable for growth and targeted use cases',
 'Is set up to be customized and needs to be engineered into a usable product',
            'Out-of-the-box is ready to go with little need for customization']
Length: 4, dtype: str

In [380]:
BvB_map = {
    'Is ready-to-go but also customizable for growth and targeted use cases': 'Ready-to-go and customizable',
    'Is set up to be customized and needs to be engineered into a usable product': 'Customizable',
    'Out-of-the-box is ready to go with little need for customization': 'Ready-to-go'
}
df['BuildvsBuy'] = df['BuildvsBuy'].map(BvB_map)

In [381]:
df['BuildvsBuy'].unique()

<StringArray>
[nan, 'Ready-to-go and customizable', 'Customizable', 'Ready-to-go']
Length: 4, dtype: str

## Country
There are many countries listed in this column. Some of them have long names and need to be reduced or abbreviated. There are also a lot of inconsistent names, like Republic of Korea for South Korea, and so on. These all need to be updated to ensure consistent naming across countries.

In [382]:
for country in df['Country'].unique():
    print(country)

United States of America
United Kingdom of Great Britain and Northern Ireland
Canada
Norway
Uzbekistan
Serbia
Poland
Philippines
Bulgaria
Switzerland
India
Germany
Ireland
Italy
Ukraine
Australia
Brazil
Japan
Austria
Iran, Islamic Republic of...
France
Saudi Arabia
Romania
Turkey
Nepal
Algeria
Sweden
Netherlands
Croatia
Pakistan
Czech Republic
Republic of North Macedonia
Finland
Slovakia
Russian Federation
Greece
Israel
Belgium
Mexico
United Republic of Tanzania
Hungary
Argentina
Portugal
Sri Lanka
Latvia
China
Singapore
Lebanon
Spain
South Africa
Lithuania
Viet Nam
Dominican Republic
Indonesia
Kosovo
Morocco
Taiwan
Georgia
San Marino
Tunisia
Bangladesh
Nigeria
Liechtenstein
Denmark
Ecuador
Malaysia
Albania
Azerbaijan
Chile
Ghana
Peru
Bolivia
Egypt
Luxembourg
Montenegro
Cyprus
Paraguay
Kazakhstan
Slovenia
Jordan
Venezuela, Bolivarian Republic of...
Costa Rica
Jamaica
Thailand
Nicaragua
Myanmar
Republic of Korea
Rwanda
Bosnia and Herzegovina
Benin
El Salvador
Zimbabwe
Afghanistan
Estonia
Malta
Uruguay
Belarus
Colombia
Republic of Moldova
Isle of Man
Nomadic
New Zealand
Palestine
Armenia
United Arab Emirates
Maldives
Ethiopia
Fiji
Guatemala
Uganda
Turkmenistan
Mauritius
Kenya
Cuba
Gabon
Bahamas
South Korea
Iceland
Honduras
Hong Kong (S.A.R.)
Lao People's Democratic Republic
Mongolia
Cambodia
Madagascar
Angola
Democratic Republic of the Congo
Syrian Arab Republic
Iraq
Namibia
Senegal
Kyrgyzstan
Zambia
Swaziland
Côte d'Ivoire
Kuwait
Tajikistan
Burundi
Trinidad and Tobago
Mauritania
Sierra Leone
Panama
Somalia
North Korea
Dominica
Guyana
Togo
Oman
Barbados
Andorra
Democratic People's Republic of Korea
Qatar
Sudan
Cameroon
Papua New Guinea
Bahrain
Yemen
Malawi
Burkina Faso
Congo, Republic of the...
Botswana
Guinea-Bissau
Mozambique
Central African Republic
Equatorial Guinea
Suriname
Belize
Libyan Arab Jamahiriya
Cape Verde
Brunei Darussalam
Bhutan
Guinea
Niger
Antigua and Barbuda
Mali
Samoa
Lesotho
Saint Kitts and Nevis
Monaco
Micronesia, Federated States of...
Haiti
nan
Nauru
Liberia
Chad
Djibouti
Solomon Islands

In [383]:
country_rename_arr = [
    ['United States of America', 'US'],
    ['United Kingdom of Great Britain and Northern Ireland', 'UK'],
    ['Iran, Islamic Republic of...', 'Iran'],
    ['Republic of North Macedonia', 'North Macedonia'],
    ['Russian Federation', 'Russia'],
    ['United Republic of Tanzania', 'Tanzania'],
    ['Viet Nam', 'Vietnam'],
    ['Venezuela, Bolivarian Republic of...', 'Venezuela'],
    ['Republic of Korea', 'South Korea'],
    ['Republic of Moldova', 'Moldova'],
    ['Hong Kong (S.A.R.)', 'Hong Kong'],
    ['Lao People\'s Democratic Republic', 'Laos'],
    ['Democratic Republic of the Congo', 'Congo'],
    ['Democratic People\'s Republic of Korea', 'North Korea'],
    ['Congo, Republic of the...', 'Congo'],
    ['Micronesia, Federated States of...', 'Micronesia']
]

for rename in country_rename_arr:\
    df['Country'] = df['Country'].replace(rename[0], rename[1])

In [384]:
df['Country'].unique()

<StringArray>
[                   'US',                    'UK',                'Canada',
                'Norway',            'Uzbekistan',                'Serbia',
                'Poland',           'Philippines',              'Bulgaria',
           'Switzerland',
 ...
 'Saint Kitts and Nevis',                'Monaco',            'Micronesia',
                 'Haiti',                     nan,                 'Nauru',
               'Liberia',                  'Chad',              'Djibouti',
       'Solomon Islands']
Length: 183, dtype: str

## Analyze Missing Values

Our next step is to handle missing values. There are a multitude of ways we can do this:
- Drop them entirely
- Replace them with the average (`mean()`) value (numerical)
- Replace them with the most common value (categorical, but can also be done wiht numerical)
- Left as-is (depending on how we do our analysis)

Before we actually handle the missing values, we need to identify which columns have missing values in the first place.

In [385]:
missing_data = df.isnull()
columns_with_na = []
print('Missing values:')
for column in missing_data.columns.values.tolist():
    series_count = missing_data[column].value_counts()
    if series_count.size > 1:
        count_na = series_count.values[1]
        print(f"{column}: {count_na}")
        columns_with_na.append(column)

Missing values:
RemoteWork: 10631
EdLevel: 5585
YearsCode: 5568
DevType: 10277
OrgSize: 17957
PurchaseInfluence: 18031
BuildvsBuy: 22079
Country: 6507
LanguageHaveWorkedWith: 5692
LanguageWantToWorkWith: 9685
LanguageAdmired: 14565
DatabaseHaveWorkedWith: 15183
DatabaseWantToWorkWith: 22879
DatabaseAdmired: 26880
PlatformHaveWorkedWith: 23071
PlatformWantToWorkWith: 30905
PlatformAdmired: 31377
WebframeHaveWorkedWith: 20276
WebframeWantToWorkWith: 26902
WebframeAdmired: 30494
EmbeddedHaveWorkedWith: 22214
EmbeddedWantToWorkWith: 17600
EmbeddedAdmired: 16733
ConvertedCompYearly: 23435
JobSat: 29126

That's quite a lot of missing values! We'll need to identify each one and determine how to handle them. Like previously, we probably want to identify all numerical columns, as there is a good change we will handle them all the same way, by replacing missing values with the average.

### Numerical
First, let's identify which columns are numerical

In [386]:
#identify numerical columns
na_cols_numerical = []
for column in columns_with_na:
    if df[column].dtype != 'str':
        print(f'{column} type: {df[column].dtype}')
        na_cols_numerical.append(column)

YearsCode type: float64
ConvertedCompYearly type: float64
JobSat type: float64

Luckily, there are only three columns with numerical values. We can replace the na values with the average of the remaining values in the column.

In [387]:
for column in na_cols_numerical:
    df[column] = df[column].fillna(df[column].mean())

In [388]:
missing_data = df.isnull()

for column in na_cols_numerical:
    print(missing_data[column].value_counts())

YearsCode
False    65437
Name: count, dtype: int64
ConvertedCompYearly
False    65437
Name: count, dtype: int64
JobSat
False    65437
Name: count, dtype: int64

Now we've confirmed our missing values for numerical columns are replaced with the average values.

### Categorical

There are several types of missing data when it comes to categorical data. They fall into three categories:

#### Missing Completely At Random
The missing data is unrelated to observed or unobserved data, such as random logging failure.

#### Missing At Random
Missingness depends on other observed variables, such as employment type missing for older survey respondents vs newer ones. 

#### Missing Not At Random
Missingness depends on the values themselves, such as a contractor skipping questions not relevant to them.

The type of missing value determines how we handle them. In our case, our missing values are considered `Missing Not At Random`, meaning that the questions weren't answered by the respondents on purposes, not my chance or error.

In [393]:
na_cols_categorical = []
for column in columns_with_na:
    if df[column].dtype == 'str':
        print(f'{column} type: {df[column].dtype}')
        na_cols_categorical.append(column)

RemoteWork type: str
EdLevel type: str
DevType type: str
OrgSize type: str
PurchaseInfluence type: str
BuildvsBuy type: str
Country type: str
LanguageHaveWorkedWith type: str
LanguageWantToWorkWith type: str
LanguageAdmired type: str
DatabaseHaveWorkedWith type: str
DatabaseWantToWorkWith type: str
DatabaseAdmired type: str
PlatformHaveWorkedWith type: str
PlatformWantToWorkWith type: str
PlatformAdmired type: str
WebframeHaveWorkedWith type: str
WebframeWantToWorkWith type: str
WebframeAdmired type: str
EmbeddedHaveWorkedWith type: str
EmbeddedWantToWorkWith type: str
EmbeddedAdmired type: str

65437

In [406]:
missing_data = df.isnull()

for column in na_cols_categorical:
    percent_missing = len(df) / missing_data[column].value_counts().values[1]
    print(f"{column} ({round(percent_missing, 2)}% missing)")

RemoteWork (6.16% missing)
EdLevel (11.72% missing)
DevType (6.37% missing)
OrgSize (3.64% missing)
PurchaseInfluence (3.63% missing)
BuildvsBuy (2.96% missing)
Country (10.06% missing)
LanguageHaveWorkedWith (11.5% missing)
LanguageWantToWorkWith (6.76% missing)
LanguageAdmired (4.49% missing)
DatabaseHaveWorkedWith (4.31% missing)
DatabaseWantToWorkWith (2.86% missing)
DatabaseAdmired (2.43% missing)
PlatformHaveWorkedWith (2.84% missing)
PlatformWantToWorkWith (2.12% missing)
PlatformAdmired (2.09% missing)
WebframeHaveWorkedWith (3.23% missing)
WebframeWantToWorkWith (2.43% missing)
WebframeAdmired (2.15% missing)
EmbeddedHaveWorkedWith (2.95% missing)
EmbeddedWantToWorkWith (3.72% missing)
EmbeddedAdmired (3.91% missing)

In the context of our dataset, missing values indicate an absense of selection, not necessarily actual missing values. Our categorical variables fall into two groups:

##### Group A - Single-choice attributes
- EdLevel
- DevType
- OrgSize
- PurchaseInfluence
- BuildvsBuy
- Country

For these missing values we'll be replacing NaN with 'Not answered'.

In [407]:
single_choice_columns = ['EdLevel', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuildvsBuy', 'Country']

for column in single_choice_columns:
    df[column] = df[column].fillna('Not answered')

#### Group B - Multi-select attributes
- LanguageHaveWorkedWith
- LanguageWantWorkWith
- etc....

We can replace NaN with an empty set, and split the actual responses into lists. Then later we can explode the answers to get a count of technology selection. However this poses an additional challenge. How do we store this information in a csv? The answer is we can't. CSVs do not allow for storing complex information like arrays and lists. This means at this point we should save our data in a 'clean' csv format where we keep the NaN values for these columns, then at load time we can modify them to be treated as empty sets for missign values, and lists of selected technologies for the rest. A better long-term solution would be to normalize the data and store it in a relational database, but for the purpose of this project we'll keep using CSV files.

In [ ]:
# save our cleaned data into a .csv
df.to_csv('survey-data-cleaned.csv')

# Exploratory Data Analysis

# Data Visualization